.idea/
*.key.asc
*.pyc
aws_lambda/upload_pgp_file_to_s3/pgpdump*
aws_lambda/upload_pgp_file_to_s3.zip
exam.yueh-cake.com/jobs.at.ho600/54ca36c357a5c2aa175765f90fc51918@exam.yueh-cake.com-3049DCE8/
docs/_build

aws_lambda/upload_pgp_file_to_s3/upload_pgp_file_to_s3-env/
bin/upload_pgp_file_to_s3.zip

bin/LambdaJobsHo600Com_function.zip

bin/pgp_encrypt.zip
aws_lambda/pgp_encrypt/node_modules/
aws_lambda/pgp_encrypt/package-lock.json
.py*env/
